@charset "utf-8"; /* css charset 설정 */
* {
    /* 공통리셋정보 */
    box-sizing:border-box;
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 16px; 
    /* 웹디실기 요구사항 컬러가이드값 */
    color: #333; /* background: #fff; */
}
/* #3494ff */
/* pop */
.popup {
    /* background필수! */
    background: #3494ff;
    position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);
    width: 500px; height: 400px; padding: 25px;
    display: none;
}
.popup * {color: #fff;}
.popup h1 {}
.popup p {}
.popup a {}
/* header */
header {float: left;}
header h1 {}
header h1 a {}
header h1 a img {}
/* nav */
header nav {
    background: lemonchiffon;
    margin: 10px; text-align: center;
}
header nav ul {}
header nav ul > li {}
header nav ul > li a {display: block; padding: 10px 0;}
header nav ul > li a:hover {background: #3494ff; color: #fff;}
header nav ul > li > .sub {}
header nav ul > li > .sub li {}
header nav ul > li > .sub li a {}
/* right_wrap */
.right_wrap {
    background-color: lightsteelblue; 
    width: 800px; float: left;
}
/* main */
.right_wrap main {}
/* slide */
.right_wrap main #slide_wrap {
    height: 350px; overflow: hidden;
}
.right_wrap main #slide_wrap .slide_container {}
.right_wrap main #slide_wrap .slide_container > * {
    position: absolute; 
}
.right_wrap main #slide_wrap .slide_container .slide1 {}
.right_wrap main #slide_wrap .slide_container .slide1 img {}
.right_wrap main #slide_wrap .slide_container .slide2 {}
.right_wrap main #slide_wrap .slide_container .slide2 img {}
.right_wrap main #slide_wrap .slide_container .slide3 {}
.right_wrap main #slide_wrap .slide_container .slide3 img {}
/* c */
.right_wrap main .c {display: flex;}
.right_wrap main .c .c12 {}
/* title */
.right_wrap main .c .c12 .title {}
.right_wrap main .c .c12 .title .active {
    background: #3494ff; color: #fff;
} /* 공지사항 현재 선택된 탭에 색 넣기 */
.right_wrap main .c .c12 .title a {}
/* contents */
.right_wrap main .c .c12 .contents {}
.right_wrap main .c .c12 .contents .c1 {}
.right_wrap main .c .c12 .contents .c1 a {display: block;} /* 줄바꿈 시키기 */
.right_wrap main .c .c12 .contents .c2 {display: flex;}
.right_wrap main .c .c12 .contents .c2 a {}
.right_wrap main .c .c12 .contents .c2 a img {width: 100%;}
/* c3 */
.right_wrap main .c .c3 {}
.right_wrap main .c .c3 a {}
.right_wrap main .c .c3 a img {}
/* c4 */
.right_wrap main .c .c4 {}
.right_wrap main .c .c4 a {}
.right_wrap main .c .c4 a img {}
/* footer */
.right_wrap footer {display: flex;}
.right_wrap footer .logo {}
.right_wrap footer .logo a {}
.right_wrap footer .logo a img {filter: grayscale(100%);}
.right_wrap footer .right {
    background-color: lightpink;
    text-align: center; width: 600px;
}
.right_wrap footer .right .menu {}
.right_wrap footer .right .menu a {}
.right_wrap footer .right .copy {}
/* footer는 항상 무채색!!! */